* text=auto

*.c text eol=lf
*.h text eol=lf
*.md text eol=lf
Makefile text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.svg text eol=lf

*.bmp binary
*.png binary
*.pdf binary

notebooks/** linguist-documentation
assets/results/** linguist-generated=true
examples/expected/** linguist-generated=true
